[2017-04-10 18:15] niccokunzmann opened #1 "Link auf Github hinzufügen"
Immer wenn es einen Fehler gibt, sollten die Leute wissen, wohin sie eine Mailschreiben können oder eine Issue öffnen können.

[2017-04-10 18:16] niccokunzmann opened #2 "Style"
Die Webseite sieht echt nicht gut aus.
In einer neuen CSS-Datei sollten deswegen die Elemente gestyled werden.
Mobile first!

[2017-04-10 18:41] niccokunzmann opened #3 "Hinweise ausblenden"
Manchmal kann man die Hinweise zu früh sehen. Diese sollten ausgeblendet werden, bis man drauf klickt.

[2017-04-12 17:56] niccokunzmann opened #4 "erstes Eingabefelde der Seite bekommt den Fokus (CSS)"
Wenn ich auf die Seite gehen, möchte ich, dass das erste Element, in das Text eingetippt wird, den Fokus bekommt.
Ob das sinnvoll ist, sollte mit einem Smartphone evaluiert werden.

[2017-04-12 23:24] #2 closed

[2017-04-12 23:24] #3 closed

[2017-04-12 23:25] niccokunzmann opened #5 "Quizzes öfter benutzen"
Der Quiz-Typ trainiert das Lesen regulärer Ausdrücke.
Es sollten noch Quizzes eingebaut werden, zu jeder Section.

[2017-04-12 23:27] niccokunzmann opened #6 "Eingabe-Quiz erstellen"
Erstelle den Typ des Eingabe-Quizzes.
Die Idee:
Wie beim Quiz ist ein regulärer Ausdruck vorgegeben.
Die Zeilen im Quiz haben aber irgendwo ein Loch, wo man was reinschreiben kann.
Hier wird dann die Zeile verändert, sodass der reguläre Ausdruck entweder passt oder nicht passt. (ok/fail)

[2017-04-14 07:16] niccokunzmann opened #7 "Use Key-Design from Github (CSS)"
If you refresh the issue page often enough, you can see the buttons g and p in a pro tip below.
https://github.com/CoderDojoPotsdam/regex-tutorial/issues

This is a nice design for keyboard keys.
Please improve the design [of the `key` selector](https://github.com/CoderDojoPotsdam/regex-tutorial/blob/master/css/tutorial.css#L21) to match githubs key in form. The colors should stay.

Hints:
- [Exam

[2017-04-14 07:17] niccokunzmann opened #8 "Add travis tests"

[2017-04-14 07:22] #8 closed

[2017-04-15 09:35] niccokunzmann opened #9 "Make the number of the step visible"
Um Feedback gut zuzuordnen, wäre es gut, den Schritt irgendwo anzuzeigen.

- Code.org hat die Zahl des Schrittes in den kleinen Kreisen für den Fortschritt
- Man kann den Schritt in den Footer/Header/Überschrift tun

[2017-04-15 09:39] niccokunzmann opened #10 "03-oder-03 Verlinkte weitere Gedichte von Ernst Jandl"
Die Weiteren Gedichte sollten in einem Absatz am Ende der Seite erscheinen.
 Als Link drei der lustigsten Gedichte.

[2017-04-15 09:48] niccokunzmann opened #11 "text für fortschritt"
Wenn die Maus über die kleinen Kreise im Fortschritt geht, sollte der Titel der Seite, die verlinkt wird, angezeigt werden.

[2017-04-16 19:34] #5 closed

[2017-04-16 19:41] #4 closed

[2017-04-16 21:49] quassy opened #12 "04-mengen-04 erfordert Kenntnis von ^ und $"
Der Abschnitt 4.4 setzt zum korrekten Lösen drei der unten gelisteten Aufgaben die Kenntnis von ^ (Anfang) und $ (Ende), oder alternativ \b (Word Break). Anfang und Ende werden aber erst in Kapitel 7 behandelt.

[code]

[2017-04-16 22:00] quassy opened #13 "Multiple languages / translations"
The tutorial should be available in multiple languages / allow for translations to be made, especially English.

[2017-04-17 05:40] niccokunzmann commented on #12
@quassy Danke für den Hinweis! Ich habe eine Pull-Request erstellt. #15 Magst du die mergen?

[2017-04-17 07:11] niccokunzmann commented on #13
@quassy There are several ways to create tranlations:

- JavaScript
- Copy&Paste the tutorial (add -de or -en in the end)
- jekyll (I worked on https://github.com/Stonelinks/jekyll-gettext-plugin but there are others )

What do you think? Sometimes, even the quizzes and expressions may change.

[2017-04-17 22:28] #12 closed

[2017-04-17 22:59] quassy commented on #13
Not sure, at first glance none of the translation tools for Jekyll have convinced me. But I definitely think it should be a dedicated, native tool and neither JavaScript nor Copy&Paste, which both seem even worse to maintain.

[2017-04-18 10:10] niccokunzmann commented on #13
I changed the type of the class="playfield". Now it provides a regular expression as reference. This way, the text in the listings can be changed by translations (i.e. automatic translations by google chrome) and the site still works.

[2017-04-18 10:15] niccokunzmann opened #17 "Create favicon"
Website-link: https://coderdojopotsdam.github.io/regex-tutorial

## Expected Behavior

I would like to see a favicon in the browser menu.

## Actual Behavior

There is no icon, yet.

## Actions to Reproduce

![grafik](https://cloud.githubusercontent.com/assets/564768/25125808/6cc4a29e-2430-11e7-8b07-bc769f7042eb.png)

## Solution Description

We could use
- a regular expression icon (is there one?

[2017-04-18 12:30] niccokunzmann commented on #13
Let's think from an other prespective: How would we write the code that should be translated?

If we use the Jekyll-Plugin, 01-buchstaben-03.html looks like this:

[code]
What do other options look like?

[2017-04-18 13:56] hd719 commented on #17
Hello I am new to open source can I work on this?

[2017-04-18 14:10] niccokunzmann commented on #17
Hi, welcome! Yes, you can! Let me know if you need help or you like it more specific.

[2017-04-18 18:37] Crizzooo commented on #17
I'll leave this one for @hd719, but got anything else for a first PR that you could need help with @niccokunzmann ?

[2017-04-18 22:48] niccokunzmann commented on #17
@Crizzooo #7 is CSS only
#9 is putting a number into the current bubble one is working on, like in https://studio.code.org/s/mc/stage/1/puzzle/1 (Jekyll+CSS+HTML)
In #13 You can discuss with us what would be a good way to translate this into different languages and manage the different translations.
Let me know if you have any questions. You can also comment in the issues you are interested in.

[2017-04-19 00:15] Crizzooo commented on #9
@niccokunzmann Can  I get a translation here?

[2017-04-19 05:53] niccokunzmann commented on #9
In order to give feedback, it would be good to see the number of the step.

- [Code-org](https://studio.code.org/s/mc/stage/1/puzzle/1) puts the number into the step bubble
- one could put the step into the footer/header/heading

[2017-04-19 05:54] niccokunzmann commented on #9
@Crizzooo You can discuss it if you are not sure but you can also create a pull-Request with what you think works best.

[2017-04-20 10:17] quassy commented on #13
On second thought I think it would be wise to use a plugin-free version so we can keep the GitHub (Pages) workflow (only the [included plugins](https://github.com/github/pages-gem/blob/master/lib/github-pages/plugins.rb) can be used) and other people can contribute easily without someone having to rebuild manually. So **Copy&Paste** ;)

[Making Jekyll multilingual](https://www.sylvaindurand.org/ma

[2017-04-20 10:50] niccokunzmann commented on #13
Currently, the "tutorial" directory is used to determine which files belong to the tutorial [in _layouts/excercise.html line 35](https://github.com/CoderDojoPotsdam/regex-tutorial/blob/master/_layouts/exercise.html#L35).
But that can be changed.

How about this:
- we create a branch/folder/file with the first excercise
- translate it to English and German (and maybe an other language)

Then, we ca

[2017-04-20 11:39] niccokunzmann commented on #13
@quassy I pushed something to [the translations branch](https://github.com/CoderDojoPotsdam/regex-tutorial/tree/translation/translations) You can change it or discard it. We can also change the file names from `01-einfuehrung-02` to `01-01-einfuerung` or just make it blog posts. `0001-01-01-einfuerung.html`
What would your ideal structure look like?

Here are requirements by me:

- the folder shou

[2017-04-21 15:13] niccokunzmann commented on #13
@quassy After I slept over it: please have a look at [branch translation-2](https://github.com/CoderDojoPotsdam/regex-tutorial/tree/translation-2/steps). Do you have ideas/objections?

[2017-05-01 19:37] hd719 commented on #17
Hey @niccokunzmann  so I think I added the favicon to all the pages, but how would I test it out?

-Thank you.

[2017-05-01 20:37] niccokunzmann commented on #17
@Crizzooo You can install [Jekyll](http://jekyllrb.com/) and run `jekyll serve --trace` to see the website at http://localhost:4000

If you like, you can add your learnings to a CONTRIBUTING.md file, so other have a quicker start.

Let me know it I can help you.

[2017-05-01 20:58] hd719 commented on #17
Alright cool i'll install Jekyll.
Also @niccokunzmann  what do you mean by `learnings`?

[2017-05-01 21:30] niccokunzmann commented on #17
`learnings` = Everything that could help other developers.

[2017-05-01 22:01] niccokunzmann commented on #17
@hd719 The link is there but it does not show up.
![grafik](https://cloud.githubusercontent.com/assets/564768/25596612/4b430bca-2eca-11e7-8d85-a764307a5489.png)
I guess it is a path issue.
I will go to sleep now. Have a nice time, whereever you are :)

[2017-05-01 22:06] hd719 commented on #17
Try clearing your browser history.

[2017-05-02 07:42] niccokunzmann commented on #17
Can you see the favicon here? https://github.com/CoderDojoPotsdam/regex-tutorial

[2017-05-02 08:11] niccokunzmann commented on #17
I tried `../favicon.ico` and it is visible!

[2017-05-02 08:11] niccokunzmann commented on #17
![grafik](https://cloud.githubusercontent.com/assets/564768/25609486/bf2b3954-2f1f-11e7-8442-0e25b772019f.png)

[2017-05-02 12:45] hd719 commented on #17
Hey @niccokunzmann I tried `../favicon.ico` and it worked for me as well do you want me to change it?

[2017-05-03 03:50] Matt-J-H commented on #7
Hi, I did what you said and I found the rules for the layout. They are:

display: inline-block;
padding: 3px 5px;
font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
line-height: 10px;
color: #444d56;
vertical-align: middle;
background-color: #fcfcfc;
border: solid 1px #c6cbd1;
border-bottom-color: #959da5;
border-radius: 3px;
box-shadow: inset 0 -1px 0 #959da5;

S

[2017-05-03 07:37] niccokunzmann commented on #7
@Matt-J-H Yes, exactly. If you could create a pull-request, we can merge it and see the changes life.

[2017-05-03 20:03] Matt-J-H commented on #7
I changed out the code except I left the colors. I'm not sure where this code is used in the tutorial so I can't tell if it is working correctly though. I will submit a pull request and you can take a look. If it's not working properly could you tell me where I can see it?
Thanks

[2017-05-04 07:17] niccokunzmann commented on #7
#7 solved this. Thanks @Matt-J-H !
Looks good: https://coderdojopotsdam.github.io/regex-tutorial/tutorial/03-oder-01.html

[2017-05-04 07:17] #7 closed

[2017-05-04 20:28] niccokunzmann opened #20 "Change to next page when pressing enter (JavaScript)"
Website-link: https://coderdojopotsdam.github.io/regex-tutorial/steps/05-02-sets-with-ranges.html
This is an example. It concerns all pages with an input for a regular expression. See the source code for `class="playfield"`.

## Expected Behavior

When I solved the task, I would like to press enter to get to the next page.

## Actual Behavior

When I press enter, nothing happens.

## Actions to Re

[2017-05-07 13:35] niccokunzmann opened #22 "Make xkcd comic work offline (HTML)"
Website-link: https://coderdojopotsdam.github.io/regex-tutorial/steps/00-01-introduction.html

## Expected Behavior

I would like to see the xkcd image offline.

## Actual Behavior

I do not see the xkcd image offline

## Actions to Reproduce

go offline,
load generated page locally with jekyll

## Solution Description

- copy the image to the [extern folder](https://github.com/CoderDojoPotsdam/re

[2017-05-07 13:38] niccokunzmann opened #23 "Translate missing English steps"
Website-link: https://github.com/CoderDojoPotsdam/regex-tutorial/tree/master/steps

## Expected Behavior

I expect all German steps to be also available in English

## Actual Behavior

Steps 11, 12 and 13 are missing

## Actions to Reproduce

English https://coderdojopotsdam.github.io/regex-tutorial/steps/00-01-introduction.html is shorter than
German https://coderdojopotsdam.github.io/regex-tutor

[2017-05-07 13:40] niccokunzmann opened #24 "Translate examples"
Website-link: https://coderdojopotsdam.github.io/regex-tutorial/steps/03-03-or.html and more

## Expected Behavior

I expect the English tutorial to use English examples.

## Actual Behavior

Some of the examples given are stillin German.

## Solution Description

Find appropriate English examples.
The poem Ottos Mops has English equivalents.

## Hints

[2017-05-07 13:42] #1 closed

[2017-05-07 13:45] niccokunzmann opened #25 "make a menu to switch between languages"
Website-link: every step such as https://coderdojopotsdam.github.io/regex-tutorial/steps/03-03-or.html

## Expected Behavior

I would like to see a dropdown menu somewhere like with blockly games https://blockly-games.appspot.com/puzzle?lang=de

## Actual Behavior

The language can only be chosen by the first page

## Actions to Reproduce

go to the web site, in the footer you can not see the lang

[2017-05-07 13:48] niccokunzmann opened #26 "use different languages for css"
Website-link: https://coderdojopotsdam.github.io/regex-tutorial/steps/03-03-or.html and all English translations

## Expected Behavior

I would like to see everything in English, not just the main part

## Actual Behavior

The footer and the "next step" button are in German

## Solution Description

Create a new CSS file which contains the parts to translate.
- lang-de.css
- lang-en.css

also, it

[2017-05-07 13:51] niccokunzmann opened #27 "Set the identifier for the page"
Website-link: https://coderdojopotsdam.github.io/regex-tutorial/steps/03-03-or.html

## Expected Behavior

When I switch between languages, I would like to take with me what I already did.

## Actual Behavior

When I swith between languages, I do not see what I completed

## Actions to Reproduce

1. Solve one puzzle in one language
2. switch language
3. puzzle is not done

## Solution Description

[2017-05-07 13:51] niccokunzmann commented on #13
Opened other issues to update the translations.

#21 is merged

[2017-05-07 13:51] #13 closed

[2017-05-07 13:54] niccokunzmann opened #28 "Translate README"
Website-link: https://github.com/CoderDojoPotsdam/regex-tutorial

## Expected Behavior

The most important parts should be in English, too.

## Solution Description

Add the English license
Add some English description.

## Hints

[2017-05-07 18:00] #23 closed

[2017-05-07 18:04] niccokunzmann opened #29 "Proofread English Regular Expression tutorial"
I just translated [the English tutorial](https://coderdojopotsdam.github.io/regex-tutorial/). There must be mistakes in the tutorial.
Please proofread and if you find somthing that you would like to see improved,

- improve the page via the link at the bottom and submit a pull-requets.
- or, if you do do not like to improve it straigh away, create an issue

[2017-05-07 19:27] #27 closed

[2017-05-08 00:18] CodeHeeler opened #30 "Found typos through proofreading"
Website-link:
https://coderdojopotsdam.github.io/regex-tutorial/steps/00-01-introduction.html

## Expected Behavior

A beautiful tutorial

## Actual Behavior

A few small typos

## Actions to Reproduce

Read all text on the screen as you progress through the tutorial.

## Solution Description

Carefully traverse the tutorial and make changes along the way as needed.

## Hints

I can do this and wo

[2017-05-08 00:20] CodeHeeler commented on #29
I am a first-timer and would like to do this!

[2017-05-08 07:22] niccokunzmann commented on #29
@CodeHeeler Welcome! Please go ahead. You can let us know here, if you need help or do not know further.

[2017-05-08 07:25] niccokunzmann commented on #30
@CodeHeeler When you found the typos, would you like to click on "improve page", edit the page and create a pull-request with the improvements?

[2017-05-08 08:20] #26 closed

[2017-05-08 08:25] #17 closed

[2017-05-08 08:26] niccokunzmann commented on #30
I assigned the issue to you, yes, you can do it :)

[2017-05-10 09:37] niccokunzmann opened #31 "Translate the Tutorial into you language"
I can not speak all languages. If you find the tutorial useful, you can add your own language.
You can link it on the [index.html](https://github.com/CoderDojoPotsdam/regex-tutorial/blob/master/steps/index.html) page and write (work in progress) so that it is live but not expected to be complete.

Hints:
- [Translation description](https://github.com/CoderDojoPotsdam/regex-tutorial/tree/master/ste

[2017-05-10 09:39] niccokunzmann opened #32 "Style the index.html file"
Website-link: https://coderdojopotsdam.github.io/regex-tutorial/steps/index.html

## Expected Behavior

 Would like the page to be styled somehow.

## Actual Behavior

The page has small font maybe it is unreadable by people.

## Solution Description

- [ ] Add css to the page.
- [ ] make sure it works on the phone and on a desktop

## Hints

- add the css to the css folder
- if you like, you can

[2017-05-10 13:37] orcutt989 commented on #22
@niccokunzmann Do you want the whole regex tutorial offline with jekyll or literally just the image of the xkcd comic in the jekyll folder structure? I do not see an "extern" folder after creating a site in jekyll.

[2017-05-10 13:41] orcutt989 commented on #20
Link is not working. :-(

[2017-05-10 15:14] orcutt989 commented on #29
@niccokunzmann I have some feedback having attempted to go through the tutorial in English, but if @CodeHeeler has it under control I won't worry about it.

[2017-05-11 07:44] niccokunzmann commented on #29
@orcutt989 I think, you can submit your feedback. It is open and collaborative. I do not think, you are taking away by giving.

[2017-05-11 07:45] niccokunzmann commented on #20
@orcutt989 Thanks! I corrected the link.

[2017-05-11 07:49] niccokunzmann commented on #22
@orcutt989 The tutorial already works offline. This is the only image loaded from the internet. I added a link to the folder in the issue description. Could I answer your question?

[2017-05-11 14:52] orcutt989 commented on #22
@niccokunzmann danke schön. I will work on it and get back to you.

[2017-05-11 15:00] orcutt989 commented on #29
@niccokunzmann I can create an issue, but I think generally all the changes should be related to this issue, correct? Did you want an issue for each change? That sounds messy for you.

[2017-05-11 18:12] niccokunzmann commented on #29
@orcutt989 @CodeHeeler Thanks for your feedback. I updated the description. You can directly edit the page and submit a pull-request. I did not clearly formulate this and wondered about the new issues^^

![grafik](https://cloud.githubusercontent.com/assets/564768/25964711/1171337c-3686-11e7-9700-e50a8ec84ee2.png)

[2017-05-11 18:23] niccokunzmann opened #37 "Translate 03-02-or.html"
Website-link: https://coderdojopotsdam.github.io/regex-tutorial/steps/03-01-or.html and https://coderdojopotsdam.github.io/regex-tutorial/steps/03-02-or.html

## Expected Behavior

I would like to see English examples.

## Actual Behavior

I see German examples.

## Solution Description

- [ ] I would say, we can use English cities.
  - Nottingham
  - Birmingham
  - New York
  - New Orleans
  - Lo

[2017-05-11 18:27] niccokunzmann opened #38 "Translate 03-03-or.html - poem"
Website-link: https://coderdojopotsdam.github.io/regex-tutorial/steps/03-03-or.html

## Expected Behavior

I want to see English text.

## Actual Behavior

I see German text.

## Solution Description

- translate the poem:
  - [x] use a translation from here: http://www.signandsight.com/features/290.html
  - [x] Link to this site as the source http://www.signandsight.com/features/290.html
  - [x]

[2017-05-11 19:07] niccokunzmann commented on #37
See also https://github.com/CoderDojoPotsdam/regex-tutorial/pull/35#issuecomment-300884707

[2017-05-11 19:15] orcutt989 commented on #37
@niccokunzmann The easiest thing to do would be to just add the words "find bach, roda, and hausen", but right now this test is dependent on localization and English literacy. I think that the only requirement for this tutorial should be English literacy, not necesarilly localization. Its possible that there are English speakers that would not be familiar with those names as well.

I would suggest

[2017-05-11 20:01] CodeHeeler commented on #29
Absolutely, the more, the merrier!

Also, I apologize for misunderstanding--I was not editing the text directly here through the "improve" link, I was coding on my own branch for later, including the "Next Step" buttons and other text in the JS and CSS files that you have since changed yourself.  I suppose the lesson is that when contributing, pull much more frequently.  Thanks again for letting m

[2017-05-14 19:55] niccokunzmann commented on #37
#40 closes this

[2017-05-14 19:55] #37 closed

[2017-05-22 09:40] niccokunzmann opened #51 "Regex example use in different languages"
At the end of the tutorial, I would like to see how to use the regular expression in a program.

Python Example:
[code]
We can add more to the last Website.

- [x] Python
- [x] JavaScript
- [x] Go https://gobyexample.com/regular-expressions #100

[2017-05-26 04:12] DaricusDuncan commented on #30
@niccokunzmann I am a first timer and would like to help contribute. Could you assign me to a task or should I just fix something I see needs fixing? Please respond when available. Thank you so much!

[2017-05-26 17:37] niccokunzmann commented on #30
@DaricusCodePath Hi, welcome! You can fix something that needs fixing in your eyes. If you spot a mistake 👍 please go ahead and improve it.
If you like to translate the tutorial to an other language, you are welcome to do so, too.
Also, you are always welcome to look at the existing [issues](https://github.com/CoderDojoPotsdam/regex-tutorial/issues) and contribute to solve them. If you do, you can

[2017-05-26 17:58] DaricusDuncan commented on #30
@niccokunzmann Thank you so much for the help and getting back to me. I will do some proofreading and correcting. I may actually look into translating to Spanish for you. I greatly appreciate this opportunity. You are awesome!! This will be my first time contributing to an open project so please be patient with me if I do ask questions. I will do as much research on my own though first before aski

[2017-05-26 20:15] niccokunzmann commented on #30
I hope you enjoy it. You can ask anytime your frustration level rises
and write if you solved it yourself. This way, we can give feedback and
people see that there is something happening, so they may join the action.

[2017-06-14 05:53] niccokunzmann commented on #28
@epodolsk If you add "fix #28" to the commit message, merging will automatically close the issue.
Thanks for your contribution!

[2017-06-14 05:53] #28 closed

[2017-06-14 05:54] niccokunzmann commented on #30
@CodeHeeler Are the typos still there? Can we close the issue?

[2017-06-28 23:58] #30 closed

[2017-07-10 19:00] weerox commented on #31
I'm about to translate this to Swedish now, and just wanted to confirm that I will be naming files according to an english keyboard (replace ö with o, and å with a), just to make sure we doesn't break anything

[2017-07-10 22:37] niccokunzmann commented on #31
@WeeRox I do not know if it breaks anything. You can try it out. It does not hurt :)

If you like to create pull-requests in between, we can help you if we spot anything and merge as soon as possible, so you can get people reviewing it here or at your fork. Translating takes some time so I would rather merge what you did in Swedish and get more people to help out than require a full translation.

[2017-07-11 07:09] WeeRox opened #56 "Translate 07-05-anfang-und-ende to English"
Website-link:
https://coderdojopotsdam.github.io/regex-tutorial/steps/07-05-anfang-und-ende.html

That page only exists in German and should probably be translated to English as well.

[2017-07-11 07:10] WeeRox opened #57 "Translate 99-01-muellhalde to English"
Website-link:
https://coderdojopotsdam.github.io/regex-tutorial/steps/99-01-muellhalde.html

The page only exists in German and should probably be translated to English as well.

[2017-07-11 07:33] WeeRox opened #59 "Translate 13-02-counted-repetitions to German"
See PR #58 for more info.

[2017-07-11 07:38] weerox commented on #31
@niccokunzmann What about the translation branch? I saw it had another file structure. Is it an updated file structure that you are working on? (I'll create a PR to the master branch)

[2017-07-11 09:31] weerox commented on #32
What do you think about [these](https://dribbble.com/shots/1211759-Free-195-Flat-Flags) flags?

[2017-07-12 03:27] niccokunzmann commented on #57
This page contains an other idea: use brackets to extract parts of the regular expression. On this page: extract the image http link from the img tag.

    regex: a(b)c
    text: abc
    result: {"all": "abc", 0: "b"}

I am not sure how to introduce this.
Maybe, I should remove it from the German status so people do not wonder what is the next step.
What do you think?

[2017-07-12 03:45] niccokunzmann commented on #59
It was merged, closing this.

[2017-07-12 03:45] #59 closed

[2017-07-12 03:50] niccokunzmann commented on #31
@WeeRox The tanslation branch was for #13 as we figured out how to structure the translations. I deleted it.

[2017-07-12 03:52] niccokunzmann commented on #32
They look good.

[2017-07-12 04:32] #56 closed

[2017-07-12 16:02] #38 closed

[2017-07-12 17:17] weerox commented on #20
Check [this](https://weerox.github.io/regex-tutorial/steps/02-01-sequences-of-letters.html).
It will send you to the next page when you press enter. Is this how you thought it would work?

[2017-07-13 21:21] orcutt989 commented on #20
Nice touch!

[2017-07-14 03:32] niccokunzmann commented on #20
@WeeRox Yes, I mean that.

[2017-07-14 14:39] #20 closed

[2017-07-14 20:29] WeeRox opened #69 "German in English translation 05-01-sets-with-ranges"
Website-link:
https://coderdojopotsdam.github.io/regex-tutorial/steps/05-01-sets-with-ranges.html

Is line no. 8 a translation of line no. 7 in file [05-01-sets-with-ranges](https://github.com/CoderDojoPotsdam/regex-tutorial/blob/master/steps/05-01-sets-with-ranges.html)?

[2017-07-14 21:04] weerox commented on #24
I was looking at 03-01-or and saw earlier PRs and issues discussing this and whether we should use names of cities or use compound words instead, but never really understood what conclusion you came to

[2017-07-14 21:22] WeeRox opened #71 "German in English translation of 07-02-start-to-end"
Website-link:
https://coderdojopotsdam.github.io/regex-tutorial/steps/07-02-start-and-end.html
## Expected Behavior
File should be in English

## Actual Behavior
A part of the file is in German. I think that the German text has already been translated, but not deleted, but I don't speak German and I won't rely on Google Translate.

[2017-07-14 21:45] weerox commented on #24
I decided to go with city names

[2017-07-15 09:25] weerox commented on #31
I've been thinking about the translations, and realized that if anyone wanted to translate the tutorial inte a language similar to Swedish (Danish, for example), then the introduction-file might have to be named the same, which would break the whole thing.

[2017-07-16 13:50] weerox commented on #31
I spent this weekend trying to figure out a better way to handle translations, and came up with [this](https://weerox.github.io/regex-tutorial/).
Every language get their own folder ("sv/", "en/", "de/", etc.) and the files only have the numbers in the filename. This means that it might be easy to implement a language switcher (just switch the language dir in the url).
I have also gathered all str

[2017-07-17 04:05] niccokunzmann commented on #24
As I see it, all English tutorial is English now. :)

[2017-07-17 04:05] #24 closed

[2017-07-17 04:07] niccokunzmann commented on #31
I think this is really good. It is much clearer now, where we need to translate it and one only needs to know html and JSON.

[2017-07-17 04:23] niccokunzmann commented on #57
I will remove this file and we can start a new issue about which parts of the regular expressions should be added.

[2017-07-17 04:24] #10 closed

[2017-07-17 04:24] niccokunzmann commented on #10
No need to do that.

[2017-07-17 04:26] niccokunzmann commented on #22
closed by #70

[2017-07-17 04:26] #22 closed

[2017-07-17 08:54] #71 closed

[2017-07-17 08:55] #57 closed

[2017-07-17 08:56] weerox commented on #31
So I will create a better commit message and push later today

[2017-07-17 08:57] WeeRox commented on #31
And change the README to contain new instructions for translating

[2017-07-17 09:38] weerox commented on #31
Oh, sorry. I forgot that I pushed to master from my local translation branch. I didn't remember that that would change the PR I had made...

[2017-07-17 09:38] weerox commented on #31
I'll just change the README and push those changes instead

[2017-07-21 06:34] #69 closed

[2017-07-21 11:15] weerox commented on #25
What should we do if the user wan't to switch from the English version of 05-01 (for example) to the Swedish one, but it doesn't exist a Swedish translation? I was thinking about some sort of error page which tells you that the file isn't translated, but that the user can translate it if he/she wants to. To me that seems to be fairly easy to implement, but I don't now if we would be able to transl

[2017-07-21 11:22] WeeRox opened #78 "Fix the navigation "step bubbles""
## Expected Behavior

The step "bubbles" should be closer to each other.
## Actual Behavior

They are pretty far away.

For some reason it broke when I changed the way we make translations. Can't find the reason myself, maybe someone else will.

[2017-07-21 11:37] niccokunzmann commented on #78
You removed the comments. Now, there are spaces behind the elements. If there are no spaces between the elements, this works or, maybe there is a possibility to reduce the width of the space to zero.

Before:

     </div><div

Now:

       </div>
           <div

[2017-07-21 23:24] niccokunzmann commented on #78
#79 does not resolve this.
![grafik](https://user-images.githubusercontent.com/564768/28485819-88e52ebc-6e7c-11e7-8c35-087978778ed4.png)

[2017-07-22 00:12] niccokunzmann opened #83 "Create 404 page"
Website-link: https://duckduckgo.com/?q=interaktives+tutorial+regul%C3%A4re+ausdr%C3%BCcke&t=ffab&ia=software
and https://coderdojopotsdam.github.io/regex-tutorial/steps/00-01-einfuehrung.html

## Expected Behavior

I would like to see the something useful when I get to pages which moved.

## Actual Behavior

I only see the Github 404 page.

## Actions to Reproduce

Click the link https://coderdoj

[2017-07-22 00:14] niccokunzmann commented on #29
Thanks for all the proof reads. Closing this, then. @orcutt989 @CodeHeeler

[2017-07-22 00:14] #29 closed

[2017-07-22 23:43] joshhazelhurst123 commented on #83
Hi, I would like to a look at this one. I am a little confused however. This link works https://coderdojopotsdam.github.io/regex-tutorial/en/00-01.html
I had to modify what you originally have.
https://coderdojopotsdam.github.io/regex-tutorial/steps/00-01-einfuehrung.html
Is there something I am missing here? Seems like it works fine.

[2017-07-23 06:27] niccokunzmann commented on #83
The problem I see is that the tutorial files get renamed from time to time and older links do not work any more. Normal users can not handle a situation with a 404 page like this:
![grafik](https://user-images.githubusercontent.com/564768/28497144-0e0a4d58-6f80-11e7-9587-f74bd457d4a6.png)

So, the 404 page should give some guidance to those who can not manipulate the urls.

The 404 page contains

[2017-07-23 08:55] weerox commented on #78
Fixed by #80

[2017-07-23 08:55] #78 closed

[2017-07-23 10:32] joshhazelhurst123 commented on #83
I understand now that by putting a 404.html file into the root directory Jekyll will handle the file, with the tags below in the 404.html (first-timers-only here).
1 ---
2 layout: page
3 permalink: /404.html
4 ---
A redirect link to the tutorial start page is a good idea.
I think what you have added into the maybe description is a good idea also. I'm not sure how you want to format this page, if y

[2017-07-23 11:23] niccokunzmann commented on #83
Sure, you can style it very simply. Very simple, unstyled HTML is an improvement. Besides, this site will be looked at seldomly.

[2017-07-23 18:08] weerox commented on #25
I've been thinking of two ways to do this.
1. You could include all languages that exists in the tutorial in a menu dropdown and alert the user if it tries to switch to a file which hasn't been translated yet.
2. You could create a menu dropdown which only includes languages that the file exists in.

The second approach might be more appealing, but the first might make users help translate the pag

[2017-07-23 18:33] niccokunzmann commented on #25
I am ok with both and if this is not solved.

[2017-07-24 09:23] niccokunzmann commented on #83
#87 closes this. Thanks @joshhazelhurst123

[2017-07-24 09:23] #83 closed

[2017-07-24 12:43] niccokunzmann commented on #25
We now have a 404 page #83

[2017-07-24 12:58] weerox commented on #25
Yeah, but I think I'll go with the second approach, it feels more dynamic and won't need as much maintenance.

[2017-07-24 14:09] weerox commented on #9
@niccokunzmann Is there a reason that we use two integers for the topic and the step? Could we change it from 05-01 to 5-1? That would make it easier to add the number into the bubble, because I couldn't find a way to remove the leading zero using Jekyll, but maybe I could use JavaScript.

[2017-07-24 14:11] niccokunzmann commented on #9
I can find this way. You can go on, I will add it after merge.

[2017-07-24 14:18] weerox commented on #9
I think that I'll try to solve it using JavaScript first
Edit: It was easy to fix it with JavaScript, so we can keep the zeros.

[2017-07-24 18:48] WeeRox opened #90 "Translate error messages to German"
Website-link:
https://github.com/CoderDojoPotsdam/regex-tutorial/blob/master/_data/localization.json
Line 99 & 104
## Expected Behavior

The error messages should be translated to German
## Actual Behavior

The translation doesn't exist.

## Solution Description

Translate those two strings to German.
I rewrote the error messages when I changed the way we handle translations and I don't speak Germ

[2017-07-24 19:26] niccokunzmann commented on #9
I would like the numbers to be increasing. Now, number 1 is there several times.

[2017-07-24 19:44] weerox commented on #9
Oh, now I see what your code in #91 did. I thought that you wanted them numbered for each topic. I'll take another look

[2017-07-24 19:45] niccokunzmann commented on #9
I should have translated this. Sorry.

[2017-07-24 19:49] weerox commented on #9
You did translate it, it's just that code.org didn't have multiple "topics" so that's why I misunderstood.

[2017-07-24 19:53] #90 closed

[2017-07-24 19:53] #9 closed

[2017-07-24 19:56] weerox commented on #11
Do you want the built-in hover title design, or should we create something of our own?
I like the GitHub implementation (to view this, hover the "Owner" tag in a comment).

[2017-07-24 20:03] niccokunzmann commented on #11
Looks good. As you like.

I think, the more we do although it is fun, the less new people can do and maybe the less contributions we get. How did you decide to contribute? Was it because you fixed a small mistake? If we also find those small issues, we can get more people involved.

[2017-07-24 20:04] weerox commented on #11
Yeah, you're right.

[2017-07-24 20:08] WeeRox opened #94 "Step index won't work for 50-01"
Website-link:
https://coderdojopotsdam.github.io/regex-tutorial/en/50-01.html
https://coderdojopotsdam.github.io/regex-tutorial/de/50-01.html
## Expected Behavior

It should display 46 in the last bubble. (And have a black background).
## Actual Behavior

It has a green background and there are no index number.
## Actions to Reproduce

Visit any of the above links.
## Solution Description

It seem

[2017-07-26 08:57] joshhazelhurst123 commented on #25
@weerox I like option number 2. How about in the drop down box have a entry that say's 'add translation for tutorial' or something like that. When the user select's this option it goes to the error page which tells you that the file isn't translated, but that the user can translate it if he/she wants to.

[2017-07-26 10:12] joshhazelhurst123 commented on #11
Hi, I am interested in contributing to this project and learning as much as possible. I like the github implementation as mentioned by @weerox. Is there a github api to search through or code for the tag?

[2017-07-26 10:40] niccokunzmann commented on #11
In Firefox (Chrome, Opera and Edge, too) You can inspect websites and tags. You can right-click on the page, click on Inspect Element and then have a look at source code and styling.
![grafik](https://user-images.githubusercontent.com/564768/28617148-884653e2-71ff-11e7-9b3f-20479120b1e5.png)

It seems like it uses CSS animations to fade in after 0.4 seconds:
![grafik](https://user-images.githubuse

[2017-07-26 10:43] niccokunzmann commented on #11
And you can view the animation and the styling by clicking on the file.
![grafik](https://user-images.githubusercontent.com/564768/28617241-ecba2222-71ff-11e7-87a1-542005068201.png)

I do not know if I could answer your question in any way.

[2017-07-26 19:07] weerox commented on #25
@joshhazelhurst123 Or maybe we could redirect them to the README where there are instructions of how to translate?

[2017-07-27 06:28] joshhazelhurst123 commented on #25
@WeeRox I like that idea.

[2017-07-31 09:47] joshhazelhurst123 commented on #94
@WeeRox I had a good look and had no success. Could not find "current" class either. Not sure why the file jumps from 13-02.html to 50-01.html
Line 93 of tutorial.html is confusing.

[2017-08-01 09:02] niccokunzmann commented on #94
This is interesting
- it works on my computer when I build it locally.
- I see it is missing in the browser
![grafik](https://user-images.githubusercontent.com/564768/28817573-ed636398-76a8-11e7-92fe-a27a5293bd11.png)

8bdc7c2930c4d159cad8f0a14a854394a55ba463 is also the last commit here: https://github.com/CoderDojoPotsdam/regex-tutorial/commits/master
I see it but I can not reproduce it.

[2017-08-01 09:16] niccokunzmann commented on #94
If there is no quiz or experiment, the bubble turns green.

[2017-08-02 18:41] weerox commented on #94
Weird. Checked again to be sure, but I still can't see the number...

[2017-08-02 19:54] niccokunzmann commented on #94
@WeeRox I corrected my [comment](https://github.com/CoderDojoPotsdam/regex-tutorial/issues/94#issuecomment-319312588) to be more clear that I can only see the content when I build it on my conputer using jekyll.

I think, this is a minor issue which can cost a lot of energy. So I will not work on it.

[2017-08-06 19:51] niccokunzmann opened #96 "Download Tutorial"
I would like to have a download functionality for the tutorial: I would like to be able to download the tutorial as a zip archive. This can not be the github repository archive as this is only the source code.

Hints for implementation:
- [x] use the travis automated build to zip the archive (see [.travis.yml](https://github.com/CoderDojoPotsdam/regex-tutorial/blob/master/.travis.yml) file) #97
-

[2017-08-11 08:51] niccokunzmann commented on #96
To verify that it can be downloaded,

- check it there are releases turning up: https://github.com/CoderDojoPotsdam/regex-tutorial/releases
- See if the download button works.

[2017-08-11 08:53] niccokunzmann commented on #96
Download works.

[2017-08-11 08:53] #96 closed

[2017-08-16 07:48] niccokunzmann commented on #94
Hm. Maybe we can reproduce it when we use the github gem instead of just jekyll. https://github.com/github/pages-gem

[2017-08-16 09:13] niccokunzmann commented on #94
It is reproducable using the github pages gem
![grafik](https://user-images.githubusercontent.com/564768/29356006-2ad8ddc2-8273-11e7-998c-8337a738ff4f.png)
To reproduce, you can use the [github-pages-gem](https://github.com/CoderDojoPotsdam/regex-tutorial/tree/github-pages-gem) branch or merge #101 and use master.

[2017-08-16 09:14] #51 closed

[2017-08-17 22:33] alikahwaji commented on #32
Hi, just a quick note I'm working on the styling  maybe in a couple of hours I have your PR ready.

[2017-08-17 22:57] niccokunzmann commented on #32
I should be able to give feedback for your PR in about 8 hours from now as I will sleep soon.

[2017-08-18 07:53] niccokunzmann commented on #32
@alikahwaji Created PR #102 I think, we can close this. If not, we should open a new issue to describe which other changes the index file needs.

[2017-08-18 07:53] #32 closed

[2017-09-12 05:13] OtacilioN commented on #31
Hey, how are you folks?

I started to translate the tutorial to Portuguese from Brazil the pt-br, i hope to help the project.

[2017-09-12 08:01] niccokunzmann commented on #31
@OtacilioN Welcome! I saw #104 and left some comments.

[2017-10-13 02:40] DaricusDuncan commented on #25
Hi,
I am new to HTML, CSS, and JavaScript but I believe that I may have figured out how to create the drop-down menu and redirect the page using some HTML and JavaScript but I would like for someone to critique it for me if possible. How should I go about providing the code for review? @niccokunzmann

[2017-10-13 17:46] weerox commented on #25
@DaricusDuncan Hi!
I guess that [this](https://github.com/DaricusDuncan/regex-tutorial_testing) is the repository where you have the code?

[2017-10-13 17:50] niccokunzmann commented on #25
@DaricusDuncan You can provide your code as a pull request. Also, if you like feedback, you can share your progress or ideas here. If you like to show the changes to us on a live website, you can enable Github Pages in the settings for your repository and we can view the link.
Could I clarify some things? Would you like to ask more questions?

[2017-10-13 18:39] DaricusDuncan commented on #25
@niccokunzmann Thank you so much for the help and suggestions. I will get the Github Pages enabled so that I can show the changes. That sounds like a great challenge to me. I believe that I will create a Github Pages as well as a PR for review. I am still working on it at the moment and testing the code out. Yes! @WeeRox that is indeed the area where I am working on my code under the WebOptions br

[2017-10-14 06:22] niccokunzmann commented on #25
@DaricusDuncan If you like, you can also create a pull-request for this issue and add [WIP] to the title, "Work In Progress". This way, all other people know where to look, give suggestions and use your work. This speeds up the collaboration process.
If you have any questions, we are here:)

[2017-10-26 08:09] niccokunzmann opened #110 "Improve Footer"
Website-link: https://coderdojopotsdam.github.io/regex-tutorial/de/02-02.html

## Expected Behavior

I expect the language menu to show the selected language and
all code of the page to be running on offline
and fullfilling a purpose.
JavaScript code should be in its own JavaScript file.

## Actual Behavior

https://github.com/CoderDojoPotsdam/regex-tutorial/blob/master/_layouts/tutorial.html#L145

[2017-10-26 08:21] niccokunzmann opened #111 "Reduce page size by removing spaces"
Website-link: https://github.com/CoderDojoPotsdam/regex-tutorial/blob/master/_layouts/tutorial.html

## Expected Behavior

I expect the code to be like this:
[code]

## Actual Behavior

I see code like this with a lot of free space.
[code]

## Actions to Reproduce

View the source code of this page:
https://coderdojopotsdam.github.io/regex-tutorial/de/02-02.html

## Solution Description

Jekyll al

[2017-12-21 20:06] DaricusDuncan commented on #25
@niccokunzmann  Just wanted to send out an update and say that I am still working on this. I have not forgotten or left it hanging. I will complete converting the JQuery to JavaScript.

[2017-12-21 21:13] niccokunzmann commented on #25
Thanks for coming back:) Nice to hear from you and I wish you a nice
Christmas time!
You can register with 24pullrequests.com or depending on age find
students who like google code-in. It is currently running.

[2017-12-21 21:18] DaricusDuncan commented on #25
Thank you as well! I got busy with work and family. I wish you a merry Christmas!! I have registered for 24pullrequest but have not been able to get 24 pull request done. Maybe over this upcoming weekend, I can knock out some of this work and reach some accomplishments. I am 26 so I cannot do the Google Code in. I actually was not aware of that project happening around this time.

[2018-03-06 10:28] niccokunzmann commented on #25
I think, we have a menu to switch languages. Thanks! I will close this now.

[2018-03-06 10:28] #25 closed

[2018-03-06 15:49] DaricusDuncan commented on #25
@niccokunzmann Thank you so much. I have the menu but I am having trouble getting rid of the JQuery the menu uses. I am still working on that issue. Been working on a project for my job but I am still active.

[2018-03-07 08:28] niccokunzmann commented on #111
Done.

[2018-03-07 08:28] #111 closed

[2018-03-07 08:29] niccokunzmann commented on #110
Done!

[2018-03-07 08:29] #110 closed

[2018-12-28 11:42] niccokunzmann opened #117 "Add hint that one space is enough"
Website-link:

## Expected Behavior

A person used two spaces at level 6.

## Actual Behavior

Person got stuck.

## Actions to Reproduce

## Solution Description

We can make a hint that one space is sufficient because there is only one space between words.

## Hints

## Languages

- [X] English (en)
- [X] German (de)
- [X] Swedish (sv)

[2018-12-28 11:57] niccokunzmann opened #118 "Spet 13 hint: use two sets"
Website-link:

## Expected Behavior

I would like to read a hint that you need to use the brackets twice in order to complete the challenge.

## Actual Behavior

no hint

## Actions to Reproduce

## Solution Description

## Hints

## Languages

- [X] English (en)
- [X] German (de)
- [X] Swedish (sv)

[2019-02-21 02:33] joshhazelhurst123 commented on #11
hmmm I can't get edit the progress bar, I look at progress.css and tutorial.html to make the changes that I wanted to make on the progress bar but I can't figure out how it works. Thanks.

[2019-02-21 08:45] niccokunzmann commented on #11
@joshhazelhurst123 Hi, did you [set up jekyll](https://github.com/CoderDojoPotsdam/regex-tutorial#install-jekyll) locally?

The code for the progress bar starts here:
https://github.com/CoderDojoPotsdam/regex-tutorial/blob/058c263dc6d11b9d45ed63096f9c5006456d2d7f/_layouts/tutorial.html#L70
and this is the link for which the hover effect can be changed:
https://github.com/CoderDojoPotsdam/regex-tut

[2019-02-22 05:21] joshhazelhurst123 commented on #11
Yes jekyll works, you have helped me a lot!

Thanks for your comment and reply. I managed to put a basic hover tag in tutorial.html which hovers over all paragraphs, and a href links.
  p:hover, a:hover {
  background-color: yellow;
}
I would like to make the changes as requested in this issue request, I want the tooltip to appear when hovering over the link in the progress bar.
I think adding the

[2019-02-22 10:45] niccokunzmann commented on #11
I think, you may be able to use the id or the class selector, not only the tag selector like "p" or "a".
Maybe [this](https://www.w3schools.com/Css/css_syntax.asp) clarifies the difference.

https://github.com/CoderDojoPotsdam/regex-tutorial/blob/058c263dc6d11b9d45ed63096f9c5006456d2d7f/_layouts/tutorial.html#L96
generates
[code]
so you can use class and step.

[2019-02-23 04:25] joshhazelhurst123 commented on #11
Thanks, so I have working,
.step:hover{
  background-color: yellow;
}
The next part is adding the tooltip on :hover
I am thinking,
.step:tooltip-appear{
 aria-label="This user is a member of the CoderDojo Potsdam organization."
}
<></> closing on brackets below, (can't add them in, they get picked up as links)
 div class="links"
 a href="https://github.githubassets.com/app/node_modules/@primer/css

[2019-02-24 07:05] joshhazelhurst123 commented on #11
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip
https://www.w3schools.com/css/css_tooltip.asp
are my resources I'm looking at. The span, div tag are confusing me.

[2019-02-24 09:55] niccokunzmann commented on #11
You can make code comments by selecting the text and using the <> button above.
[code]

[2019-02-24 09:58] niccokunzmann commented on #11
Hm. I do not know how that expresses itself. I think, for confusion, one has an inconsistent model with at least two different conflicting strains of thought. Could you write down all of them, so I can see what is there? Currently, I could not phrase it better into the uncertain than the tutorial.

[2019-02-25 01:58] joshhazelhurst123 commented on #11
Ah Yes you have read my mind. There are two different conflicting strains of thought. I am using w3school online tutorials and I am looking at your example about implementing the tooltip on the regextutorial site. On the w3schools example of tooltip, they use a span and div tag to implement the tooltip, with CSS defining the tooltip.
Then trying to apply what I have learnt from w3schools here, I d

[2019-02-25 09:06] niccokunzmann commented on #11
I think, you can do something like this:
[code]

span and div are only slightly different. Using CSS, you can convert one into the other. a span differs form div in values of some attributes.
For CSS, span or div or jahdkjahsdkhasd can be used to style `<span>`, `<div>` and `<jahdkjahsdkhasd>` elements from html. Hm, so I think, you will need to edit some of the code and add new tags for the new s

[2019-02-27 05:48] joshhazelhurst123 commented on #11
![image](https://user-images.githubusercontent.com/30138699/53468629-e2380f00-3abf-11e9-8a82-1bce1f1c5e6a.png)

I have a tooltip connected as shown above. Not sure why the progress bar has halfway disappeared.  I updated tutorial.html with the following code.

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/boots

[2019-02-27 08:18] niccokunzmann commented on #11
Can you, instead of sending the code in the issue, create a Pull Request
with the code?
This way, I can exactly see what is going on and we can discuss it line
by line. This is the workflow we usually take.

src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

I will not add the

[2019-02-28 05:14] joshhazelhurst123 commented on #11
pull request. #119
Creating a tooltip then merging it with the progress bar was unsuccessful for me. I then added in the bootstrap libraries for a tooltip in order to produce the tooltip as shown above. I understand that you wouldn't want them as they would include megabytes to the website.